In [3]:
import pandas as pd
import numpy as np

from IPython.display import display

df = pd.DataFrame ({'a' : np.random.randn(6),
             'b' : ['foo', 'bar'] * 3,
             'c' : np.random.randn(6)})

display(df)

def my_test(a, b):
    return a % b

df['Value'] = df.apply(lambda row: my_test(row['a'], row['c']), axis=1)

display(df)

          a    b         c
0 -0.643277  foo  0.638628
1  0.469608  bar  0.177681
2  2.668675  foo -0.424800
3 -0.780699  bar -1.191385
4 -0.901018  foo  0.538098
5 -0.952123  bar -0.860048

          a    b         c     Value
0 -0.643277  foo  0.638628  0.633979
1  0.469608  bar  0.177681  0.114245
2  2.668675  foo -0.424800 -0.304928
3 -0.780699  bar -1.191385 -0.780699
4 -0.901018  foo  0.538098  0.175178
5 -0.952123  bar -0.860048 -0.092076