In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import time
import random
pd.set_option('display.max_columns', 50)

adj_jpm = pd.DataFrame.from_csv('adjJPM.csv')
display(adj_jpm.head())

                Open      High       Low      Close        Volume  Adj Close
1983-12-30  2.602623  2.632198  2.573048  44.000008  3.575624e+06   2.602623
1984-01-03  2.598926  2.617409  2.580440  44.000008  6.517272e+06   2.602623
1984-01-04  2.652532  2.713529  2.617410  45.874979  4.945011e+06   2.713529
1984-01-05  2.768984  2.802256  2.735712  47.375008  5.817363e+06   2.802256
1984-01-06  2.772681  2.802256  2.743106  46.875014  3.286531e+06   2.772681